*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 100%;
    height: 100vh;
    background-image: url(image/home.jpg);
    /*background-repeat: no-repeat;*/
    background-position:center;
    background-size: cover;
  }

  h1{
    font-size: 125px;
    margin-left: 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

  div.section-card{
    display: flex;
    justify-content:space-around;
    margin-top:80px;
    width: 100%;
  }
  p{
    text-align: left;
    color: white;
    font-size:50px;
    padding:6px;
    margin-top:5px
  }
  .card{
    margin: 5px;
    width: 100%;
  }
  .btn-danger{
    width: 100%;
  }
  div.registro{
    padding: 2%;
  }

  div.registro-container{
    width: 100%;
    align-items: center;
    margin-top:100px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.463);

  }
  .row{
    padding: 10px;
  }

  label.form-label {
    color: black;
    font-weight:900;


  }
  div#validationServerUsernameFeedback.invalid-feedback{
    font-weight:900;
  }

  div#validationServer03Feedback.invalid-feedback{
    font-weight:900;
  }
  div#validationServer04Feedback.invalid-feedback{
    font-weight:900;
  }
  div#validationServer05Feedback.invalid-feedback{
    font-weight:900;
  }
  label.form-check-label{
    font-weight:900;
  }
  div#invalidCheck3Feedback.invalid-feedback{
    font-weight:900;
  }

  footer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-bottom: 15px;
    background-color: rgba(255, 0, 0, 0.445);

    }

  footer .principal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    max-width: 1900px;
    font-size: 14px;
    text-align: center;
    margin-top: 100px;
    }
  
  footer .text{
    display: flex;
    flex-direction: column;
    justify-content: c;
    align-items: center;
    font-size: 16px;
  }
  footer .text h4{
    font-size: 20px;
  }
  
  footer .principal div{
    margin: 10px;
    padding: 5px;
    max-width: 250px;
  }
  
  footer .principal .text img{
    width: 250px;
  }
  
  footer .social-media-menu ul{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  footer .social-media-menu ul li{
    font-size: 30px;
    padding: 15px;
    list-style:none; /*sacamos las viñetas de la lista*/
  }
  
  
  footer .links h3{
    text-align: center;
    font-size: 20px;
  }
  
  footer .links ul{
    padding: 0px;
    margin: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  footer .links ul li{
    font-size: 18px;
    padding: 15px;
    list-style:none;/*sacamos las viñetas de la lista*/
  }
  
  footer .links ul li a :hover {
    background-color : #1d1d1d;
    cursor:pointer;
  }
  
  footer ul li a{
    color: white;
    text-decoration: none;
  }
  
  .contact {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 10;
  }
  
  .contact .fixed-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1d1d91;
    padding: 15px;
    border-radius: 100%;
    margin: 10px;
  }
  
  .contact .fixed-wp {
    background-color: #1d1d1d91;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 100%;
    margin: 10px;
    text-align: center;
  }
  
  .contact a i{
    font-size: 50px;
    color: white;
  }


  @media(max-width: 768px){
    a.btn.btn-lg.btn-danger{
      font-size: 10px;
      padding: 0;
    }
    .btn-danger{
      width: 100%;
    }
    p{
      text-align: left;
      color: white;
      font-size:23px;
      padding:6px;
      margin-top:5px
    }
    footer .text h4{
      font-size: 13px;
    }

    footer .principal div{
      margin: 10px;
      padding: 5px;
      max-width: 250px;
    }

    footer .principal .text img{
      width: 250px;
    }

    footer .social-media-menu ul{
      padding: 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    footer .social-media-menu ul li{
      font-size: 30px;
      padding: 15px;
      list-style:none; /*sacamos las viñetas de la lista*/
    }

    footer .links h3{
      text-align: center;
      font-size: 12px;
    }

    footer .links ul li{
      font-size: 15px;
      padding: 15px;
      list-style:none;/*sacamos las viñetas de la lista*/
    }

  }

  @media(max-width: 500px){
    a.btn.btn-lg.btn-danger{
      font-size: 10px;
      padding: 0;
    }
    .btn-danger{
      width: 100%;
    }footer .text h4{
      font-size: 13px;
    }
  
    footer .text h5{
      font-size: 13px;
    }

    footer .principal div{
      margin: 10px;
      padding: 5px;
      max-width: 250px;
    }

    footer .principal .text img{
      width: 250px;
    }

    footer .social-media-menu ul{
      padding: 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    footer .social-media-menu h3{
      font-size: 15px;
    }

    footer .social-media-menu ul li{
      font-size: 30px;
      padding: 15px;
      list-style:none; /*sacamos las viñetas de la lista*/
    }

    footer .links h3{
      text-align: center;
      font-size: 15px;
    }

    footer .links ul li{
      font-size: 13px;
      padding: 15px;
      list-style:none;/*sacamos las viñetas de la lista*/
    }
  }
  
  @media(max-width: 320px){
    a.btn.btn-lg.btn-danger{
      font-size: 8px;
      padding: 0;
    }
    .btn-danger{
      width: 100%;
    }
    p{
      text-align: left;
      color: white;
      font-size:18px;
      padding:6px;
      margin-top:5px
    }
    footer .text h4{
      font-size: 11px;
    }
    footer .text h5{
      font-size: 11px;
    }

    footer .principal div{
      margin: 10px;
      padding: 5px;
      max-width: 250px;
    }

    footer .principal .text img{
      width: 250px;
    }

    footer .social-media-menu ul{
      padding: 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    footer .social-media-menu h3{
      font-size: 15px;
    }

    footer .social-media-menu ul li{
      font-size: 20px;
      padding: 15px;
      list-style:none; /*sacamos las viñetas de la lista*/
    }

    footer .links h3{
      text-align: center;
      font-size: 12px;
    }

    footer .links ul li{
      font-size: 15px;
      padding: 15px;
      list-style:none;/*sacamos las viñetas de la lista*/
    }

   
  }

